*{
    margin:0;
    padding:0;
}

.edu_container{
    width:100%;
    position: relative;
    background-color: rgb(17, 17, 17);
    padding-top: 20px;
    padding-bottom: 20px;
}

.edu_outer{
    width:100%;
    height:70vh;
    margin: auto;
    position:relative;
    padding:10px;
    padding-top:0;
}
.mid_div{
    width:4px;
    background-color: #0bceaf;
    height:45vh;
    margin:auto;
    position:absolute;
    margin-top: 30px;
    left: 0;
    right: 0;
}

.circle_div{
    width:20px;
    background-color: white;
    border:5px solid pink;
    height:20px;
    border-radius: 50%;
    margin: auto;
    z-index: 1;
    position:absolute;
    left: 0;
    right: 0;
}
.circle_1{
    margin-top: 30px;
}
.circle_2{
    margin-top:190px;
}
.circle_3{
    margin-top:360px;
}
.right_line_div{
    height:3px;
    max-width: 70px;
    width:15%;
    background-color: #0bceaf;
    margin: auto;
    position:absolute;
    left: 90px;
    right: 0;
   
}
.left_line_div{
    height:3px;
    max-width: 70px;
    width:15%;
    background-color: #0bceaf;
    margin: auto;
    position:absolute;
    left: 0;
    right: 90px;
   
}
.line_1{
    margin-top: 38px;
}
.line_2{
    margin-top: 200px;
}
.line_3{
    margin-top: 368px;
}

.school_1{
    width:40%;
    /* background-color: rgb(17, 17, 17); */
    background-color:#161818;
    border: 2px solid #0bceaf;
    color:#0bceaf;
    margin: auto;
    position:absolute;
    left: 50%;
    right: 0;
    margin-top: 28px;
    text-align: center;
    padding:5px;
}

.school_2{
    width:40%;
    background-color: rgb(17, 17, 17);
    background-color:#161818;
    border: 2px solid #0bceaf;
    color:#0bceaf;
    margin: auto;
    position:absolute;
    left: 0;
    right: 50%;
    margin-top: 180px;
    text-align: center;
    padding:5px;
}

.school_3{
    width:40%;
    background-color: rgb(17, 17, 17);
    background-color:#161818;
    border: 2px solid #0bceaf;
    color:#0bceaf;
    margin: auto;
    position:absolute;
    left: 50%;
    right: 0;
    margin-top: 355px;
    text-align: center;
    padding:5px;
}
@media only screen and (max-width: 1250px){
    .mid_div{
        height:50vh;
    }
    .edu_outer{
        height:80vh;
        position:relative;
        padding:10px;
        padding-top:0;
    }
    .mid_div{
        height:55vh;
    }
}
@media only screen and (max-width: 550px){
    .school_1{
        word-wrap: break-word;
    }
    .school_2{
        margin-top: 245px;
        word-wrap: break-word;
    }
    
    .school_3{
        margin-top: 495px;
        word-wrap: break-word;
    }
    .mid_div{
        height:78vh;
    }
    .circle_2{
        margin-top:250px;
    }
    .circle_3{
        margin-top:500px;
    }
    .line_2{
        margin-top: 260px;
    }
    .line_3{
        margin-top: 508px;
    }
    .right_line_div{
        left: 70px;
    }
    .left_line_div{
        right: 70px;
       
    }
    .edu_outer{
        height:125vh;
    }
}